<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TestContext"
         connectionString="Server=2c3608dc-d02f-4a9c-b652-a1660176fc17.sqlserver.sequelizer.com;Database=db2c3608dcd02f4a9cb652a1660176fc17;User ID=dtdbmhnocrgsnozl;Password=xDWzGspQvQ8Ztffeccxm3BtbX75bwG7eS7rGNAkWDyQVrPoaJkPCkRF4jUKJwotV;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>